/* Initial state for Intersection Observer */
.movie-card-wrapper {
  opacity: 0;
  transform: translateX(-100px);
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
}

/* State when visible */
.movie-card-wrapper.show {
  opacity: 1;
  transform: translateX(0);
}

.card-img-top {
  height: 400px;
  object-fit: cover;
}
